.popup__title {
    margin: 34px 0px 54px 36px;
    font-family: "Inter", "sans-serif";
    font-size: 24px;
    font-weight: 900;
    font-style: normal;
    line-height: 29px;
}

@media screen and (max-width: 550px) {
    .popup__title {
        font-size: 18px;
        line-height: 22px;
        margin: 25px 0px 75px 22px;
    }
}